header{
    text-align: center;
    border: 1px red solid;
    background-color: lightgoldenrodyellow;
    
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px red solid;
        background-color: lightgoldenrodyellow;
    }
    
    .divgrande{
        display: flex;
        flex-direction: row;
        border: 1px red solid;
    
    }
    aside{
        width: 15%;
        border: 1px red solid;
        background-color: lightgoldenrodyellow ;
    }
    
    aside.infopoke h2{
        text-align: center;

    }
    aside.infopoke>ul{
        list-style-type: none;    
        padding-left: 20px; 
    }

    aside.infopoke>li{
       size: 5pt;
    }
    aside.infopoke>p{
        margin: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    aside.publicidad>h2{
        text-align: center;
    }
    aside.publicidad img{
        padding-left: 20px;
        padding-bottom: 50px;
    }

    main{
        width: 85%;
        text-align: center;
        border: 1px red solid;
        background-color: lightgoldenrodyellow;
    
    }
    main>div{
        border: 1px rgb(0, 255, 34) solid;
        display: flex;
        justify-content: space-between;  
    }
    
    main>div>.imgfondo{
        
        background-image: url(img/ruta.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    main>div>.flechaizq{
        width: 10%;
        border: 1px black solid;
        padding: 2%;
        display: flex;
        align-items: center;
        border: 1px rgb(0, 47, 255) solid;
        
    }

    main>div>.flechader{
        width: 10%;
        padding: 2%;
        display: flex;
        align-items: center;
        
        
    }
    
    main>div>.flechader{
        background-color: lightgoldenrodyellow;
    }
    main>div>.flechader>a>img{
        width: 80%;
    }

    main>div>.flechaizq{
        background-color: lightgoldenrodyellow;
    }
    main>div>.flechaizq>a>img{
        width: 80%;
    }

    

    body>footer{
        background-color: gray;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;   
        position: absolute;
        bottom: 0px;
    }

    footer>p>img{
        background-size: cover;
        width: 100%;
    }