
@font-face {
    font-family: "Pokemon";
    src: url(../Fonts/pokemon/Pokemon\ Solid.ttf);
}

body{
    background-color: rgb(253, 251, 104);
    margin: 0.5%;
    background-repeat: no-repeat;
    background: url(../Imagenes/fondo.jpg);  
    background-size: cover;    
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
}
header{
    width: 100%;   
}
header img{
    border-radius: 5px;
}
h1{
    font-size: 60px;
}
h2{
    font-family: Pokemon, Arial, Helvetica, sans-serif;
    letter-spacing: 1.6px;
}
hr{
    margin: 5px;
}
ol{
    font-size: 40px;
}
p{
    text-align: justify;
    margin: 0 auto;
    
}
.divMainAside{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
main{
    width: 80%;
    padding: 1.5%;
    border: 0.5%;
    margin: 5px;
    background-image: url(../Img/mapa_kanto_opacidad47.png);
    background-color: rgba(247, 181, 116,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    background-size: 100%;
    font-family: Pokemon, 'Times New Roman', Times, serif;
    border-radius: 5px;

}
main>.carrousel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: url(../Img/ruta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}
.fotos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 75%;
    align-items:center;
}

.divIndice{
    display: flex;
    flex-direction: column;
    width: 32%; 
    margin-left: 1.5%;   
    margin-right: 1.5%;   
    font-family: Pokemon, Arial, Helvetica, sans-serif;
    letter-spacing: 1.6px;
}
.divIntro{
    display: flex;
    flex-direction: column;
    width: 55.5%;
    font-size: 25px;
    margin-left: 2.5%;   
    margin-right: 2.5%;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    font-size: 20px;
    border-radius: 5px;
}
.divpokedex{
    width: 100%;
    font-size: 25px;
    margin-left: 2.5%;   
    margin-right: 2.5%;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    font-size: 20px;
    padding: auto;
    border-radius: 5px;
}
aside.publicidad{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 1.5%;
    border: 0.5%;
    margin: 5px;
    background-color: rgb(244, 202, 125,0.8);
    border-radius: 5px;
    justify-content: space-evenly;
}

aside.infopoke{
    width: 30%;
    padding: 1%;
    font-size: 15px;
    background-color: rgba(206, 199, 199, 0.459);
    font-family: pokemon, Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    margin: 1%;
}
.flechaizq{
    width: 15%;
    padding: 0.5%;
    align-items: center;   
    margin: 3%; 
}
.pokemon{
    width: 100%;
    padding: 3%;
    margin: 5%;
}

.flechader{
    width: 15%;
    padding: 0.5%;
    align-items: center;
    margin: 3%;
}
.footer0{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Philosopher-Regular', Arial, Helvetica, sans-serif;
}
.footer1{
    overflow: hidden;
    width: 30%;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: hsla(0, 0%, 68%, 0.8);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    align-items: center;
    align-self: 10px flex-end; 
    height: 56px;
    font-family: 'Philosopher-Regular', Arial, Helvetica, sans-serif;
}
.footer2{
    display: flex;
    flex-wrap: wrap;
    align-self: 10px flex-end;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    background-color: rgb(173, 173, 173,0.8);
    align-items: center;
    font-family: 'Philosopher-Regular', Arial, Helvetica, sans-serif;
}
nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
nav{
    background-color: rgba(255, 252, 68, 0.877);
    border-radius: 5px;
    font-size: 25px;
}
.galeria{
    width: 280px;
    height: 280px;
    border: 8px solid rgb(219, 11, 11);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    padding: 0.5%;
    width: 250px;
    height: 250px;
    align-items: center;
}
.galeriapokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
