
@font-face {
    font-family: "Pokemon";
    src: url(../Fonts/pokemon/Pokemon\ Solid.ttf);
}
p{
    text-align: justify;
    word-spacing: 2pt;
    margin: 0 auto;
}
body{
    background-color: rgb(230, 230, 230);
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
}
main{
    margin: 3px;
    padding: 5px;
}
.image{
    margin: 1%;
}
.footer0{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
}
.footer1{
    overflow: hidden;
    width: 33%;
    display: inline-flex;
    background-color: hsla(0, 0%, 68%, 0.8);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    align-items: center;
    height: 90px;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    font-size: 15px;
}
footer>div>div>p{
    text-align: center;
    width: 100%;
}
.footer2{
    display: flex;
    flex-wrap: wrap;
    align-self: 10px flex-end;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    background-color: rgb(173, 173, 173,0.8);
    align-items: center;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    font-size: 20px;
}
footer>div>p{
    text-align: center;
    width: 100%;
}